.palette-content {
    flex: 1;
    margin-right: 50px;
}

.palette-list {
    margin: 0 0 57px;
    padding: 0;
    list-style-type: none;
}

.palette-item:not(:last-child) {
    margin-bottom: 35px;
}

.text {
    margin: 0 0 32px;
    max-width: 405px;
    font-size: 14px;
    line-height: 1.25;
}

