.organization-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 48px;
    padding: 0;
    max-width: 60%;
    overflow-x: auto;
}

.organization-list li:not(:last-child) {
    margin-right: 20px;
}

.palettes {
    display: flex;
}

.palette-text {
    font-size: 14px;
    line-height: 1.25;
}

.link-coverage {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}