.menu-item {
    border-right: 5px solid transparent;
    transition-property: background-color, border-color;
    transition-duration: .3s;
}

.menu-item a {
    width: 100%;
    padding: 13.5px 38px;
}

.menu-item:hover {
    background-color: #fff;
    border-color: #253B86;
}

