.heading {
    display: block;
    margin-bottom: 20px;
    font-size: 53px;
    line-height: 1.25;
    color: #0E0E2C;
    text-transform: capitalize;
}

.subheading {
    display: block;
    margin-bottom: 20px;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
    color: #4A4A68;
}

.body-copy {
    display: block;
    max-width: 475px;
    font-size: 16px;
    line-height: 1.4;
    color: #4A4A68;
}

.separator {
    display: block;
    margin: 45px 0;
    height: 1px;
    width: 75%;
    background-color: #C4C4C4;
}