.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-menu ul li:not(:last-child) {
    margin-bottom: 22px;
}

.nav-menu li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link-icon * {
    transition-property: fill;
    transition-duration: .3s;
}

li:hover a .link-icon * , .active-link .link-icon * {
    fill: #fff;
}



.text {
    color: inherit;
}

