.cart-wrapper {
    border: 1px solid #F2EEF9;
    border-radius: 10px;
}

.heading--promote {
    margin-bottom: 31px;
}

.url-text {
    display: inline-block;
    margin-bottom: 35px;
    padding: 10px 50px;
    background-color: #fff;
    border: 1px solid #EFEFEF;
    border-radius: 40px;

}

.url-text a {
    font-size: 14px;
    line-height: 1.25;
    font-weight: 600;
    color: #63517A;
}

a:active {
    color: #63517A;
}

.sweepstake-btn {
    margin: 0 12px;
    min-width: 140px;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 600;
    padding: 16px;
    border-radius: 54px;
    border-color: transparent;
    transition-property: background-color, color;
    transition-duration: .5s;
}

.sweepstake-btn--copy-link {
    box-shadow: 0 6px 10px rgba(237, 188, 51, 0.3);
}

.sweepstake-btn--accept {
    box-shadow: 0 6px 10px rgba(113, 176, 120, 0.3);
}
