.input-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-text {
    display: block;
    padding-left: 24px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.25;
    color: #63517A;
    font-weight: 500;
}

.input-field {
    padding: 18px 24px;
    background-color: #fff;
    border: 1px solid #EFEFEF;
    border-radius: 30px;
    font-size: 18px;
    line-height: 1.25;
    font-weight: 400;
    color: #63517A;
}

.input-field:focus {
    outline: none;
}