.settings-wrapper {
    display: flex;
}

.content {
    padding: 40px 94px 40px 50px;
    width: 100%;
}

.breadcrumbs {
    display: block;
    margin-bottom: 38px;
    font-size: 10px;
    line-height: 1.25;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}